:root{
  --fonte: 'Montserrat', sans-serif;
  --branco: #FAF0E6;
  --preto: #232D3F;
  --cinza: #BE3144;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
